<% if(craft != null ) { %>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%- craft.name %></li>
    </ol>
  </nav>


  <div class="row">

    <div class="col-12 col-md-5 mt-2 text-res">
      <img src="<%- craft.image %>" class="img-fluid relative-top img-res" style="top: 20px;" alt="<%- craft.name %>" loading="lazy">

    </div>

    <div class="col-12 col-md-7 text-res">
      <div class="">
        <div class="row">
          <div class="col-12"><h1><%- craft.name %> </h1></div>
          <div class="col-12 mb-4"><i class="bi bi-tag"></i> <%- craft.category %></div>
          <div class="d-flex justify-content-end">
            <div>
              <a href="/craft/<%- craft.id%>/delete"><i class="bi bi-trash mx-3"></i></a>
              <a href="/craft/<%- craft.id%>/update-auth"><i class="bi bi-pencil-square"></i></a>
          </div>
          </div>

          <!-- <div class="col-12" style="white-space: pre-line;">
            <h4>Author</h4>
            <%- craft.author %>
          </div>
        </div> -->
          
          <div class="col-12" style="white-space: pre-line;">
            <h4>Short Description</h4>
            <%- craft.description %>
          </div>
        </div>
  
        <div class="row pt-4">
          <div class="col-12">
            <h4>Message</h4>
            <ul class="list-group list-group-flush">
              <% craft.instructions.forEach(function(instructions, index){ %>
                <li class="list-group-item"><%= instructions %></li>
              <% }) %>
            </ul> 
          </div>
        </div>
      </div>
      </div>
      
  </div>
<% } else { %>
  <p>No item found.</p>
<% } %>