
    <% if(infoSubmitObj != '') { %>
        <div class="col-12 alert alert-success" role="alert">
          <%= infoSubmitObj %>
        </div>
      <% } %>
    
      <% if(infoErrorsObj != '') { %>
        <div class="col-12 alert alert-danger" role="alert">
          <%= infoErrorsObj %>
        </div>
      <% } %>
      

  <% if(craft != null ) { %>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/craft/<%-craft.id%>"><%- craft.name %></a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete</li>
      </ol>
    </nav>
  
  
    <div class="row text-res">
  
      <div class="col-12 col-md-5 mt-2">
        <img src="<%- craft.image %>" class="img-fluid sticky-top img-res" style="top: 20px;" alt="<%- craft.name %>" loading="lazy">
      </div>
  
      <div class="col-12 col-md-7 ">
            <div class="col-12">
              
              <div class="d-flex align-items-center h-custom-2 ms-xl-4 mt-xl-n5 pt-3 text-res" >
              
                <form  action="/craft/<%=craft.id%>/delete" method="post">
                  <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Delete <%= craft.name %></h3>
                  <div class="form-outline mb-4">
                    <input type="text" id="form2Example18" name="name" class="form-control form-control-lg" required/>
                    <label class="form-label"  for="form2Example18">DIY name</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example18" name="email" class="form-control form-control-lg"required/>
                    <label class="form-label"   for="form2Example18">Email address</label>
                  </div>
                  <div class="pt-1 mb-4">
                    <button class="btn btn-info btn-lg btn-block" type="submit">Delete</button>
                  </div>
                </form>
              </div>
            </div>
      </div>
    </div>
  <% } else { %>
    <p>No item found.</p>
  <% } %>