<div class="row flex-lg-row-reverse flex-md-row-reverse align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-md-6">
    <img src="/img/hero.jpg" width="607" height="610" class="d-block mx-lg-auto img-fluid background-image" loading="lazy" alt="DIY With Node.js">
  </div>

  <div class="col-12 col-md-6">
    <h1 class="display-5 fw-bold mb-3">Extensive collection of Inpos and DIY projects.</h1>
    <p class="lead">
      Discover a treasure trove of DIY projects and Inspos at PINspiration! Explore a wide range of DIY projects, including crafts, home decor, gifts, upcycling, and more. Unleash your creativity and find inspiration for every skill level. Join us at PINspiration and bring your crafty ideas to life!
    </p>

    <div class="d-flex justify-content-start">
      <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
      <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 mx-3">Show Random</a>
    </div>
    
    

  </div>

</div>



<!-- Categories Start -->


<div class="row row-cols-2 row-cols-lg-6 row-cols-md-4 row-cols-sm-3 g-2 g-lg-3 py-4">


  <% if(categories != '') { %>
    <% categories.forEach(function(category, index) { %>
      <a href="/categories/<%- category.name %>" class="col text-center category__link">
        <div class="category__img shadow">
          <img src="img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%- category.name %></div>
      </a>
    <% }) %>
  <% } %>

  <a href="/categories" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="img/view-all.png" style="filter: brightness(70%);" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">View All</div>
  </a>

</div>
<!-- Categories End -->


<!-- Latest Start -->

<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Latest</h2>
    <a href="/explore-latest" class="ms-auto btn btn-outline-secondary btn-lg px-4 mx-3">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 row-cols-md-3 row-cols-sm-3 g-2 g-lg-3">

    <% if(diy != '') { %>
      <% diy.latest.forEach(function(craft, index){ %>
      <a href="/craft/<%= craft._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src=<%= craft.image %> alt="<%= craft.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= craft.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>

</section>
<!-- Latest End -->

<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Inspos</h2>
    <a href="/categories/DIY for Kids" class="ms-auto btn btn-outline-secondary btn-lg px-4 mx-3">View More</a>
  </div>


<div class="row row-cols-2 row-cols-lg-5 row-cols-md-3 row-cols-sm-3 g-2 g-lg-3">
  <% if(diy.inspo != '') { %>
    <% diy.inspo.forEach(function(craft, index){ %>
    <a href="/craft/<%= craft._id %>" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src=<%= craft.image %> alt="<%= craft.name %>" loading="lazy">
      </div>
      <div class="pt-1"><%= craft.name %></div>
    </a>
    <% }) %>
  <% } else { %>
    <p>No items found.</p>
  <% } %>
</div>
</section>



<!-- 
inpos start -->




<!-- paper craft Start -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Paper Crafts</h2>
    <a href="/categories/Paper Crafts" class="ms-auto btn btn-outline-secondary btn-lg px-4 mx-3">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 row-cols-md-3 row-cols-sm-3 g-2 g-lg-3">
    <% if(typeof diy.paper !== 'undefined' && diy.paper.length > 0) { %>
      <% diy.paper.forEach(function(craft, index){ %>
      <a href="/craft/<%= craft._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src=<%= craft.image %> alt="<%= craft.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= craft.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>
<!-- paper craft -->

<!-- Artistic Endeavors Start -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Artistic Endeavors</h2>
    <a href="/categories/Artistic Endeavors" class="ms-auto btn btn-outline-secondary btn-lg px-4 mx-3">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 row-cols-md-3 row-cols-sm-3 g-2 g-lg-3">
    <% if(diy.artist != '') { %>
      <% diy.artist.forEach(function(craft, index){ %>
      <a href="/craft/<%= craft._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src=<%= craft.image %> alt="<%= craft.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= craft.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>
<!-- Artistic Endeavors End -->

<!-- DIY for Kids start -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>DIY for Kids</h2>
    <a href="/categories/DIY for Kids" class="ms-auto btn btn-outline-secondary btn-lg px-4 mx-3">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 row-cols-md-3 row-cols-sm-3 g-2 g-lg-3">
    <% if(diy.kids != '') { %>
      <% diy.kids.forEach(function(craft, index){ %>
      <a href="/craft/<%= craft._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src=<%= craft.image %> alt="<%= craft.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= craft.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>
<!-- DIY for Kids End -->











<!-- Submit - Start -->
<section class="px-4 py-5 my-5 text-center">
  <img src="/img/publish-recipe.png" class="d-block mx-auto mb-4 img-fluid" alt="Publish your recipe for FREE today" width="566" height="208" loading="lazy">
  <h1 class="display-5 fw-bold">Publish your DIY for FREE today</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Publish your work in front of thousands of people for free.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/submit-craft" class="btn btn-primary btn-dark btn-lg">Submit Work</a>
    </div>
  </div>
</section>
 
<!-- Submit - End -->




